.dropMenuIcon {
    color:red;
}

.navbar {
    background-color: #1F2833 !important;
}

.navbar-toggler {
    color:red !important;
}

.navbar-brand {
    color:#45A29E !important
}

.nav-link{
    color: #45A29E !important;
}