/*css doc
  colors:
        #0B0c10
        #1F2833
        #C5C6C7
        #66FCF1
        #45A29E
*/
* , *::before , *::after{
    box-sizing:border-box;
}

/* html {
    scroll-behavior: smooth;
} */
html{
    background-color:#1F2833;
    font-family:'Baloo Bhaina 2', cursive !important;
    
}
body{
    background-color:#1F2833;
}
section#index{
    background-color:#1F2833 !important;
    color: #C5C6C7;
    font-family:'Baloo Bhaina 2', cursive !important;
    height:100vh;
}
section#about{
    background-color:#1F2833;
    height:100vh;
    color:#c5c6c7;
}
section#services{
    background-color:#1F2833;
    color:#C5C6C7;
    height:100vh;
}
section#contact{
    height:100vh;
    color:#C5C6C7;
}
@media only screen and (min-width: 320px) and (max-width:425px){
    html{
        font-size: 0.4em;
    }

}
@media only screen and (min-width: 426px) and (max-width:768px){
    html{
        font-size: 0.8em;
    }

}
.serviceList{
    background-color:#45A29E;
    color:#1F2833;
    border: #1F2833 solid 1px;
    border-radius:8px;
}
/* End of Meeting card styles */
#canvasTest{
    width: 100vw;
    height: 100vh;
}
div#canv{
    height:100vh;
    width:100vw;
}
#showOver{
    position:absolute;
    background-color:#1F2833;
    margin:0 auto;
    width:35vw;
    height:20vh;
    top: calc(50vh - (/* height */20vh / 2)); 
    left: calc(50vw - (/* width */35vw / 2)); 
    opacity:0.8;
}  

  .swiper-container {
    width: 60vw;
    height:15%;
    padding-top: 0px;/*50px*/
    padding-bottom: 0px;/*50px*/
    margin-top: 100px;
    color:#C5C6C7;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align:center;
  }

  .team-img {
      object-fit: cover;
      height:250px;
      width:250px;
      
  }
.container-fluid{
    background-color:#1F2833;
}

#iconList{
    font-size:4em;
}
#simpleContactModal, #contactModal, #detailsModal{
    color:#1F2833;
}
.modal-header, .modal-footer{
    background-color:#45A29E;
}
