/*css doc
  colors:
        #0B0c10
        #1F2833
        #C5C6C7
        #66FCF1
        #45A29E
*/
* , *::before , *::after{
    box-sizing:border-box;
}

/* html {
    scroll-behavior: smooth;
} */
html{
    background-color:#1F2833;
    font-family:'Baloo Bhaina 2', cursive !important;
    
}
body{
    background-color:#1F2833;
}
section#index{
    background-color:#1F2833 !important;
    color: #C5C6C7;
    font-family:'Baloo Bhaina 2', cursive !important;
    height:100vh;
}
section#about{
    background-color:#1F2833;
    height:100vh;
    color:#c5c6c7;
    padding-top: 10vh;
}
section#services{
    background-color:#1F2833;
    color:#C5C6C7;
    height:100vh;
    padding-top: 10vh;
}
section#contact{
    height:100vh;
    color:#C5C6C7;
    padding-top:10vh;
}
nav#navBarStyles{
    background-color:#1F2833 !important;
    color:#C5C6C7 !important;
}
.nav-link,.nav-item, .navbar-brand{
    color:#C5C6C7 !important;
}
.nav-link :hover, .nav-item :hover, .navbar-brand :hover{
    opacity:0.5 !important;
}

.serviceList{
    background-color:#45A29E;
    color:#1F2833;
    border: #1F2833 solid 1px;
    border-radius:8px;
}
/* End of Meeting card styles */
#canvasTest{
    width: 100vw;
    height: 100vh;
}
div#canv{
    height:100vh;
    width:100vw;
}
#showOver{
    position:absolute;
    background-color:#1F2833;
    margin:0 auto;
    width:35vw;
    height:20vh;
    top: calc(50vh - (/* height */20vh / 2)); 
    left: calc(50vw - (/* width */35vw / 2)); 
    opacity:0.8;
}  


  .swiper-container {
    width: 60vw;
    height:50vh;
    padding-top: 0px;/*50px*/
    padding-bottom: 0px;/*50px*/
    margin-top: 100px;
    color:#C5C6C7;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align:center;
  }

  .team-img {
      object-fit: cover;
      height:250px;
      width:250px;
      
  }
.container-fluid{
    background-color:#1F2833;
}

#iconList{
    font-size:4em;
}
#simpleContactModal, #contactModal, #detailsModal{
    color:#1F2833;
}
.modal-header, .modal-footer{
    background-color:#45A29E;
}
/*meet the team*/
.teamsCont{
    position:relative;
}
#main{
    position: absolute;
    top:35%;
    left: 45%;
    background-color: royalblue !important;
}

.mem-img-container {
    height:180px;
}

.contact-icons{
    width:40px;
    display:flex;
    position:fixed;
    top:50px;
    background-color: #1F2833;
    z-index: 99;
    height:115px;
    border:1px solid #c5c6c7;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    font-size: 1px;
}

.contact-icons i:hover {
    color:#c5c6c76e
}

.member-image {
    object-fit: cover;
    overflow: hidden;
    border-radius: 10%;
    height: 100%;
    width:100%;
    object-position: top;
    position:20%
}

.member-name {
    font-size:medium
}

.member-container{
    text-align: center;
    background-color: #1F2833;
    height:100%;
    border-radius: 20%;
    border: 2px solid #c5c6c7;
    color:#C5C6C7;
    overflow: hidden;
}

#jay-contact-bar {
    
    transition: all 0.5s;
}

#alex-contact-bar {
    
    transition: all 0.5s;
}

#jaysballie-contact-bar {
    
    transition: all 0.5s;
}


.member-title {
    font-size: x-small;
}

.about-member {
    font-size: x-small;
    margin:0 15px;
}

.member-li {
    list-style: none;
}

#side1{
    height: 300px;
    width: 250px;
    position: absolute;
    transform: translateX(0px) scale(1.5);
    z-index: 99;
    transition: all .5s;
}
#side2{
    height: 300px;
    width: 250px;
    position: absolute;
    transform: translateX(-200px);
    z-index: 9;
    transition: all .5s;
}
#side3{
    height: 300px;
    width: 250px;
    position: absolute;
    transform: translateX(200px);
    z-index: 9;
    transition: all .5s;
}
#pre{
    font-size: 5vh;
}
#pre:hover{
    cursor: pointer;
}

#nex{
    font-size: 5vh;
}
#nex:hover{
    cursor: pointer;
}

.card .btn {
    padding:8px 15px;
    background-color: #45A29E !important;
    border-radius: 18px ;
    margin: 0;
    color:#1F2833;
    font-size: 16px;
    transition:all .3s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 32px rgba(0,0,0,0.2);
}

.card .btn:active {
    transform: translateY(0px);
    box-shadow: none;
}

.social-media {
    width:100%;
    list-style: none;
    /* display: flex; */
    justify-content: space-evenly;
    padding:16px 0;
    color:#c5c6c7;
}

.social-media i{
    font-size: 20px;
    padding:1px;
    transition:all 0.5s;
    color:#c5c6c7
}

.rel {
    height:40vh;
}
.rel,.insideRel{
    position:relative;
    margin-top:16vh;
}

.mem-cards-container {
    background-color: inherit;
}

.arrow-button-row {
    margin-top:8.5%;
    height:100%;
    padding-right: 18vw;
    padding-left: 18vw;
}

#swiping-members {
    display:none;
}

/* #rotating-members {
    display:hidden !important;
} */

@media only screen and (min-width: 320px) and (max-width:425px){
    html{
        font-size: 0.4em;
    }

    #swiping-members {
        display:block;
    }

    #rotating-members {
        display:none !important;
    }

    .arrow-button-row {
        margin-top:8.5%;
        height:100%;
        padding-right: 0;
        padding-left: 0;
    }

}
@media only screen and (min-width: 426px) and (max-width:768px){
    html{
        font-size: 0.8em;
    }

    .arrow-button-row {
        margin-top:15%;
        height:100%;
        padding-right: 3px;
        padding-left: 3px;
    }
    
}

@media only screen and (min-width: 769px) and (max-width:1024px){
    html{
        font-size: 0.8em;
    }

    .arrow-button-row {
        margin-top:8.5%;
        height:100%;
        padding-right: 7vw;
        padding-left: 7vw;
    }
    
}