/*css doc
  colors:
        #0B0c10
        #1F2833
        #C5C6C7
        #66FCF1
        #45A29E
*/
* , *::before , *::after{
    box-sizing:border-box;
}
html, body#homeBody {
    margin: 0;
    padding-bottom:120px;
    width: 100%;
    background-color: #1F2833;
    background-size:cover;
    font-family:'Baloo Bhaina 2', cursive !important;
    overflow-x: none;

}

header{
    background-color:#1F2833;
    color:#66fcf1;
}

.nav-link{
    color:#66fcf1 !important;
}
.nav-link :hover , .nav-item :hover{
    opacity:0.3 !important;
}

div.container-fluid , div.container{
    background-color: #1F2833;
    color:#c5c6c7;
}
button.btn{
    background-color:#45A29E;
}
a#homeBtn :hover{
    background-color: #66fcf1;
}

.bottomImg :hover{
    opacity:0.5;
}
.imgHov :hover{
    opacity:0.5;
}
.foot{
    background-color:#c5c6c7 !important;
    color:#45A29E !important;
    height:120px;
}
#footImg{
    width:20px;
    height:20px;
}
.socialIcon{
    color:#45A29E !important;
}
.socialIcon :hover{
    opacity:0.5;
    color:#66fcf1;
}

.h1Container {
    padding-top: 100px;
}

@media only screen and (min-width: 320px) and (max-width:425px){
    html{
        font-size: 0.4em;
    }
    .bottomImg{
        width:10px;
        height:10px;
    }
    .navImg{
        width:15px;
        height:15px;
    }
}
@media only screen and (min-width: 426px) and (max-width:768px){
    html{
        font-size: 0.8em;
    }
    .bottomImg{
        width:20px;
        height:20px;
    }
    .navImg{
        width:25px;
        height:25px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}