html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1F2833;
    font-family:'Baloo Tamma 2', cursive !important;
}

header{
    background-color:#1F2833;
    color:#66fcf1;
}

.nav-link{
    color:#66fcf1 !important;
}
.nav-link :hover{
    opacity:0.5 !important;
    text-decoration: underline !important;
}

div.container-fluid{
    background-color: #1F2833;
    color:#c5c6c7;
}