
.container {
    background-color: royalblue !important;
}

#main{
    position: absolute;
    top:35%;
    left: 45%;
    background-color: royalblue !important;
}

.member-image {
    object-fit: cover;
    overflow: hidden;
}

.member-name {
    font-size:medium
}

.member-container{
    text-align: center;
    background-color: #1F2833;
    height:100%;
    border-radius: 20%;
    border: 2px solid #c5c6c7;
    color:#C5C6C7;
    overflow: hidden;
}

.member-title {
    font-size: small;
}

.about-member {
    font-size: x-small;
}

.member-li {
    list-style: none;
}

#side1{
    height: 40vh;
    width: 20vh;
    position: absolute;
    transform: translateX(0px) scale(1.5);
    z-index: 99;
    transition: all .5s;
}
#side2{
    height: 40vh;
    width: 20vh;
    position: absolute;
    transform: translateX(-200px);
    z-index: 9;
    transition: all .5s;
}
#side3{
    height: 40vh;
    width: 20vh;
    position: absolute;
    transform: translateX(200px);
    z-index: 9;
    transition: all .5s;
}
#pre{
    height: 30px;
    width: 100px;
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top:50%;
    left: 20%;
}
#pre:hover{
    cursor: pointer;
}
#nex{
    height: 30px;
    width: 100px;
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top:50%;
    right: 20%;
}
#nex:hover{
    cursor: pointer;
}

.card .btn {
    padding:8px 15px;
    background-color: #45A29E !important;
    border-radius: 18px ;
    margin: 0;
    color:#1F2833;
    font-size: 16px;
    transition:all .3s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 32px rgba(0,0,0,0.2);
}

.card .btn:active {
    transform: translateY(0px);
    box-shadow: none;
}

.social-media {
    width:100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding:16px 0;
    color:#c5c6c7;
}

.social-media i{
    font-size: 24px;
    transition:all 0.5s;
    color:#c5c6c7
}